h1{

    color:red;
    text-align: center;
    background-color: aqua;
    padding:10px;
    border-radius: 20px;
    width: 50%;
}
h2{

    color:red;
    text-align: center;
    background-color: aqua;
    padding:10px;
    border-radius: 20px;
    width: 50%;

}