body{
    background-color: #121212;

}
h1{

    color:white;
    text-align: center;
    background-color: grey;
    padding:10px;
    border-radius: 20px;
}

h2{

    color:white;
    text-align: center;
    background-color: grey;
    padding:10px;
    border-radius: 20px;
}